/* Cart header styles */
.cart-header {
  width: 100%;
  height: 65px;
  background-color: #f5f7f7;
  color: black;
  display: none;
  grid-template-columns: repeat(5, 1fr);
  place-content: center;
  font-size: 11px;
  font-weight: bold;
}

/* Column header styles */
.column-header {
  grid-column: span 2;
  margin-left: 15px;
}

/* Cart items container styles */
.cart-items-container {
  margin-top: 15px;
}

/* Media query for larger screens */
@media (min-width: 1024px) {
  .cart-header {
    display: grid;
  }
}

/* Reset button styles */
.reset-btn {
  padding: 15px 43px;
  background-color: #cc3f3f;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
  transition-duration: 0.3s;
  font-size: 19px;
  border: #e44f4f;
}
.reset-btn:hover {
  background-color: rgb(174, 18, 18);
  transition: background-color 100ms ease;
}

/* Styling for Cart totals */
.cart-totals {
  display: flex;
  justify-content: flex-end;
  margin-top: 7px;
  margin-right: 60px;
}

/* Styling for Cart totals container */
.cart-totals-container {
  width: 300px;
  display: flex;
  flex-direction: column;
}

/* Styling for Cart totals heading */
.cart-totals-heading {
  font-size: 25px;
  font-weight: bold;
  text-align: right;
}

/* Styling for Cart totals details */
.cart-totals-details {
  display: flex;
  flex-direction: column;
}

/* Styling for Cart totals row */
.cart-totals-row {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.85rem;
  border: 0.3px solid gray;
}

/* Styling for Cart totals labels */
.cart-totals-label {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-weight: 600;
  font-size: 14px;
}

.cart-totals-row1 {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.85rem;
  border: 0.3px solid rgb(107, 138, 149);
  border-bottom: 0;
}

.totals-label {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-weight: 600;
  font-size: 18px;
}

/* Styling for Cart totals values */
.cart-totals-value {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 15px;
}
.totals-value {
  font-family: Poppins, sans-serif;
  font-weight: 800;
  font-size: 14px;
}

/* aaaaaaaaaaaaaaa */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
}

.city-zip {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.city {
  flex: 63%;
  margin-right: 5px;
}

.zip {
  flex: 30%;
}

.col-25 {
  flex: 53%;
  margin-top: 25px;
  margin-bottom: 30px;
}

.col-75 {
  flex: 40%;
  background-color: rgb(206, 245, 216);
  border-radius: 10px;
  margin: 30px 25px 0 20px;
  width: fit-content;
}

.col-25,
.col-75 {
  padding: 12px 16px 0;
}

.col-50 {
  padding: 0 16px 0;
}

input[type="text"] {
  width: 80%;
  margin-bottom: 18px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04aa6d;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
