.text-block {
  width: 55%;
  position: absolute;
  top: 55%;
  left: 25px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.text-block h3 {
  margin: 0;
  font-weight: 500;
  font-size: 30px;
  color: white;
  width: 100%;
}

.text-block button {
  margin: 23px 0 0 20px;
  border-radius: 4px;
  width: 205px;
  height: 80px;
  padding: 8px;
  background: black;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 21px;
  cursor: pointer;
  color: #fff;
}

.text-block button:hover {
  background: rgb(39, 38, 38);
}

video {
  width: 1385px;
  height: 590px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .text-block {
    width: 90%;
    left: 5%;
  }
}

@media screen and (max-width: 464px) {
  .each-slide {
    width: 100%;
  }

  .text-block {
    display: none;
  }
}
