video {
  width: 1355px;
  height: 660px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .text-block {
    width: 90%;
    left: 5%;
  }
}

@media screen and (max-width: 464px) {
  .each-slide {
    width: 100%;
  }

  .text-block {
    display: none;
  }
}
