/* card product*/
.shopbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  background-color: white;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  padding: 15px 10px 15px;
}

.newProducts {
  margin-top: 35px;
  margin-left: 10px;
}

.title-new-arr h1 {
  margin-top: 80px;
  margin-left: 7%;
  font-size: 38px;
}

:where(.css-dev-only-do-not-override-1g853jt).ant-divider {
  border-block-start: 2px solid black !important;
  margin: 10px 0px !important;
}

.react-multi-carousel-item--active {
  width: fit-content !important;
}

.card {
  width: 238px;
  margin: 14px;
  box-shadow: 0 4px 8px rgba(248, 7, 7, 0.13);
}

.card-slide {
  display: flex;
  align-items: center;
}

.react-multi-carousel-track {
  margin: 0;
  padding: 0 !important;
}
.react-multiple-carousel__arrow--right {
  right: calc(1% + 1px) !important;
  top: 140px;
}
.react-multiple-carousel__arrow--left {
  left: calc(1% + 1px) !important;
  top: 140px;
}

.badge {
  position: absolute;
  margin-left: 32px;
  top: 25px;
  background-color: black;
  width: 92px;
  height: 35px;
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: background-color 300ms ease;
}

.badge:hover {
  background-color: rgb(35, 35, 35);
}
