body {
    margin: 0px;
}
.shopbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 15px 10px 15px;/* Add this line to position the bar to the right */
  }
  :where(.css-dev-only-do-not-override-1g853jt).ant-divider {
    border-block-start: 2px solid black! important;
    margin: 10px 0px! important;
  }
  .price {
    position: absolute;
    top: 74%;
    left: 80%;
    color: green;
    font-weight: bolder;
  }
  .iconProduct {
    font-size: 28px;
    background-color: white;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 30px;
    color: rgb(95, 95, 95);
  }
  :where(.css-dev-only-do-not-override-1g853jt).ant-menu-light .ant-menu-item-selected {
    background-color: #e6ffed! important;
}
:where(.css-dev-only-do-not-override-1g853jt).ant-menu-light .ant-menu-item-selected {
    color: #0d9321! important;
}
:where(.css-dev-only-do-not-override-1g853jt).ant-slider .ant-slider-handle::after {
    box-shadow: 0 0 0 2px #0d9321! important;
}
:where(.css-dev-only-do-not-override-1g853jt).ant-slider .ant-slider-track {
    background-color: #0d9321! important;
}
:where(.css-dev-only-do-not-override-1g853jt).ant-divider {
    margin: 10px 20px! important;
}
:where(.css-dev-only-do-not-override-1g853jt).ant-divider-horizontal {
    width: 50%! important;
    min-width: 85%! important;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.ant-layout-header.custom-header {
  height: 64px;
  padding: 0 50px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 64px;

}


#header .ant-menu-horizontal .ant-menu-submenu:hover {

  color: rgb(85, 170, 46) !important;
}

.ant-layout-header .ant-menu {
  line-height: inherit;
  width: 400px;
  background-color: white;
  color: black;
}

.demo-logo {
  display: flex;
  align-items: center;
  justify-content: center;

}

.logo {
  max-width: 100%;
  max-height: 70px;
  transform: translate(0%,15%);
}

body {
  display: block;
  margin: 0;
}

.card,
.user {
  font-size: 20px;
  margin: 9px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: rgba(78, 166, 37, 0.533);
  height: 40px;
  width: 40px;
  border-radius: 30px;

}
.user:hover {
  color: black;
}
.card:hover {
  color: black;

}
.menu-item {
  padding: 10px; 
  cursor: pointer;
  transition: background-color 0.3s;
  height: 70px;
  margin-top: -8px;
  font-size: large;
 
}



.he {
  display: flex;
  align-items: center; 
}

.uc {
  display: flex;
  align-items: center; 
 
}
.ant-menu {
  background-color :rgba(78, 166, 37, 0.533);
color: white;}


  .ant-menu-dark .ant-menu-item-selected {
    background-color: white;
  color: black; }
  
