#header {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.ant-layout-header.custom-header {
  height: 64px;
  padding: 0 50px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 64px;
}

#header .ant-menu-horizontal .ant-menu-submenu:hover {
  color: rgb(181, 246, 151) !important;
}

.ant-layout-header .ant-menu {
  line-height: inherit;
  background-color: white;
  font-size: 17px;
  font-weight: 600;
  width: 450px;
}

.demo-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 100%;
  max-height: 70px;
  transform: translate(0%, 15%);
}

body {
  display: block;
  margin: 0;
}

.he {
  display: flex;
  align-items: center;
}

.icon-button {
  position: relative;
  margin: 5px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #000000;
  border: none;
  outline: none;
  border-radius: 50%;
  font-size: 25px;
}

.icon-button:hover {
  cursor: pointer;

  color: black;
}

.icon-button__badge {
  position: absolute;
  top: -8px;
  right: -8px;
  min-width: 20px;
  height: 20px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
}

.user:hover {
  color: black;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
  height: 70px;
  margin-top: -8px;
  font-size: large;
}

.uc {
  display: flex;
  align-items: center;
}
.ant-menu {
  background-color: rgba(78, 166, 37, 0.533);
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: white;
  color: black;
}
